.head {
  height: 70px;
  background-color: #C3C3C3;
  display: flex;
  flex-direction: row; }
  .head__search {
    padding: 10px; }
  .head__usermenu {
    padding: 10px; }

.nav {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: #949EE1;
  list-style: none; }
  .nav__item {
    background-color: #707ed7;
    align-items: flex-start;
    margin-right: 5px;
    min-width: 100px;
    padding: 10px;
    cursor: pointer; }
    .nav__item:hover {
      background-color: #a8b0e7; }
    .nav__item:active {
      background-color: #4456cb; }

.main {
  display: flex;
  flex-direction: row;
  padding: 20px; }
  .main__content {
    width: 80%; }
  .main__aside {
    width: 20%;
    background-color: #8B8B8B; }
