@charset "utf-8";
/* CSS Document */

#box1 {
    background-color: #FF0004;
    padding: 20px;
    margin: 5px;
}
#box1:hover {
    background-color: #FF7F81;
}

.box2 {
    background-color: #FF0004;
    padding: 20px;
    float: left;
    margin: 5px;
}
.box2:nth-child(even) {
    background-color: #D2FF2E;
}
.clearfix {
    clear: both;
}
.box3 {
    background-color: #6A68FF;
    padding: 20px;
    float: left;
    margin: 5px;
    cursor: pointer;
}
.box3:hover {
    background-color: #0F0C08;
}
.box3:visited {
    background-color: #704F23;
}
.box3:nth-child(2n+2) {
    background-color: #0CFF7E;
}