* {
	margin: 0;
    box-sizing: border-box;
}
body {
	background-color: #E3E3E3;
}
header {
	background-color: #62AEFF;
	padding: 10px;
	height: 100px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
.aside {
	float: left;
	width: 20%;
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
	background-color: #C8C8C8;
	margin-top: 10px;
	text-align: center;
}
.content {
	background-color: #ABABAB;
	float: left;
	margin: 10px 0 10px 0;
	width: 60%;
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.bside {
	float: left;
	width: 20%;
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
	margin-top: 10px;
	background-color: #9A9A9A;
	text-align: center;
}
.clearfix {
	clear: both;
}
.footer {
	background-color: #3C3C3C;
	height: 200px;
	color: white;
	padding: 20px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
