* {
	box-sizing: border-box;
	margin: 0;
}
body {
    background-color: #E0E0E0;
    margin-top: 20px
}
li:nth-child(1) {
	list-style: none;
}
.clearfix {
	clear: both;
}
.checkbox {
}
ul {
	padding: 0;
}
header {
    background-color: rgba(104,104,104,1.00);
}
li {
	list-style: none;
	display: flex;
	background-image: url(list.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 120px;
	width: 500px;
	font-size: 26px;
	text-align: left;
	margin-top: 10px;
}
h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	padding: 10px;
	color: #2B2B2B;
	font-size: 50px;
	text-shadow: 1px 2px 1px rgba(77,77,77,0.72);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	color: rgba(120,119,119,1.00);
	font-size: 30px;
    text-transform: uppercase;
}
.head {
	height: 70px
}
.container {
	width: 500px;
	background-color: #E0E0E0;
    box-shadow: 1px 1px 20px #808080;
}
.checkbox {
	height: 30px;
	width: 50px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 10px
}
.listwrapper {
	display: flex;
	margin-left: 69px;
    height: 49px;
    -webkit-transform: skew(-30deg);
	-moz-transform: skew(-30deg);
	-o-transform: skew(-30deg);
	transform: skew(-30deg);
    box-shadow: 2px 2px 10px #808080;
    
}
.checkbox:checked {
 background-image: url(4b7f61d880ecd0125b88ac6898721733-blue-flat-check-mark-by-vexels (1).png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.clear {
	height: 30px;
	width: 40px;
	font-size: 20px;
	border: none;
	margin-left: 20px;
	cursor: pointer;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	margin-top: 10px;
	margin-right: 10px;
    color: red;
    -webkit-transform: skew(30deg);
	-moz-transform: skew(30deg);
	-o-transform: skew(30deg);
	transform: skew(30deg);
    background-color: transparent;box-shadow: 1px 1px 10px rgba(255,0,4,0.50);
}

.listitem {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    text-shadow: 1px 2px 1px rgba(77,77,77,0.60);
	height: 30px;
	width: 245px;
	text-align: left;
	color: rgba(223,225,255,1.00);
	margin-top: 10px;
	padding-left: 10px;
     -webkit-transform: skew(30deg);
	-moz-transform: skew(30deg);
	-o-transform: skew(30deg);
	transform: skew(30deg);
	
}
.container {
	width: 480px;
	margin-left: auto;
	margin-right: auto;
}
.input {
	display: flex;
	margin-left: 40px;
	padding: 20px;
}
#textarea {
	border: none;
	padding: 15px;
	-webkit-transform: skew(-28deg);
	-moz-transform: skew(-28deg);
	-o-transform: skew(-28deg);
	transform: skew(-28deg);
	width: 330px;
    box-shadow: 0px 2px 10px #808080;
}
.button1 {
	background-image: url(iconmonstr-arrow-24.png);
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	padding: 10px;
	-webkit-transform: skew(-28deg);
	-moz-transform: skew(-28deg);
	-o-transform: skew(-28deg);
	transform: skew(-28deg);
	width: 40px;
	background-color: rgba(255,0,4,0.47);
    box-shadow: 0px 2px 10px #808080;
}
.list {
	margin-top: -60px;
}
.list:nth-child(1) {
	margin: 0;
}
