/**
 * Base
 */

@import "base/reset";

/**
 * Components
 */

@import "components/sample";
* {
	box-sizing: border-box;
	margin: 0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}
body {
	background-color: #F5F5F5;
}
main {
	margin:10px;
}
ul {
	padding: 0;
}
h1 {
	font-size: 100px;
	color: #4D4D4D;
	text-align: center;
	font-weight: 100;
}
#textarea {
	background-color: #FFFFFF;
	width: 100%;
	height: 50px;
	border: 2px solid #ededed;
	padding-left: 50px;
	font-size: 24px;
}

.container {
	background-color: #F5F5F5;
	padding: 20px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 1px 1px 10px #B3B3B3;
}
.list {
	display: flex;
	flex-direction: column;
}
.list__item {
	padding: 10px;
	font-size: 24px;
	border: 2px solid #ededed;
	border-top: 0;
	list-style: none;
	margin: 0;
	background-color: #fff;
	display: flex;
}
.list__checkbox {
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 50%;
	border: 2px solid #ededed;
	-webkit-appearance: none;
	cursor: pointer;
}
.list__checkbox:checked {
	background-color: gray;
}
.list__todo {
	margin-left: 20px;
	flex-grow: 2;
}
.list__delete {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 20px;
	background-color: #FF0004;
	color: #FFFFFF;
    border: 0
}
.list2 {
	padding: 2px;
	font-size: 24px;
	border: 2px solid #ededed;
	border-top: 0;
	list-style: none;
	margin: 0 10px;
	background-color: #fff;
}
.list3 {
	margin: 0 20px;
}
@m